NEXT_PUBLIC_APPWRITE_URL=https://cloud.appwrite.io/v1
NEXT_PUBLIC_ENDPOINT=67a579dd0039c4b10285
NEXT_PUBLIC_DATABASE_ID=67a57afe000b16a8607c

NEXT_PUBLIC_COLLECTION_ID_PROFILE='67a57bbb00335c7e2df5'
NEXT_PUBLIC_COLLECTION_ID_POST='67a57db40002a6941c42'
NEXT_PUBLIC_COLLECTION_ID_LIKE='67a57ce6003303153a8c'
NEXT_PUBLIC_COLLECTION_ID_COMMENT='67a57e850037675ddcc7'
NEXT_PUBLIC_COLLECTION_ID_FOLLOW='67a96492003d9d1c1e60'

NEXT_PUBLIC_BUCKET_NAME="tiktok_storage"
NEXT_PUBLIC_BUCKET_ID='67a57f7700216370a53a'
NEXT_PUBLIC_PLACEHOLDER_DEAFULT_IMAGE_ID='67a57feb002b6653e84d'
